ul.shops-found {
  width: 325px;
  height: 300px;
  overflow: auto;
  font-size: 22px;
}

li {
  list-style-type: none;
}

.rate_widget {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      180px;
    height:     32px;
}
.ratings_stars {
    float:      left;
    height:     28px;
}

.highlight {
  color: rgb(252, 203, 0);

}

table {
  width: 100%;
}
