<div class="margin-bottom">
<div class="container container-fluid">
<div class="row">  
      <h2 class="text">Coffee shops Near You</h2>
    <p id="fsq">Fueled by <a href="https://foursquare.com/" target="_blank"><img id="foursquare" src="doc/foursquare.png" alt="foursquare"></a></p>
   <div class="col-md-5">
    <div class="shops-list">
      <ul>
          <li class="shops-found" ng-repeat="item in items" ng-click="coffee.shop=item">{{item}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-7">
  <div class="form-options">
    </div>
    </div>
  <div class="col-md-4">
      <form class="new-drink" name="myForm" <!--ng-submit="myForm.$valid && postCoffee()"--> validate>
  <div class=" form-group" ng-class=" {'has-error': !coffee.shop}" required>
          <label>Shop</label>
          <input class="form-control" id="current-shop" type="text" ng-model="coffee.shop" required>
</div>
    <div class="form-group" ng-class="{'has-error': !coffee.drink}" required>
    <label>Drink</label>
        <!--<input type="text" class="form-control" ng-model="coffee.drink"/>-->
    <select class="form-control" ng-model="coffee.drink">
        <option>coffee</option>
        <option>espresso</option>
        <option>latte</option>
        <option>cappuccino</option>
        <option>macchiato</option>
        <option>cortado</option>
        <option>mocha</option>
    </select>   
  </div>
  <div class="form-group" ng-class="{'has-error': !coffee.rating}" required>
    <label>Rating</label>
      <input class="form-control" type="text" ng-model="coffee.rating">
        <!--<select class="form-control" ng-model="coffee.rating">
           <option value="&#9733;">&#9733;</option>
           <option value="&#9733;&#9733;">&#9733;&#9733;</option>		  
           <option value="&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;</option>
           <option value="&#9733;&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;&#9733;</option>
           <option value="&#9733;&#9733;&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;&#9733;&#9733;</option>      
        </select>-->
  </div>
  <div class="form-group" ng-class="{'has-error': !coffee.date}">
    <div class="date">
      <label>Date</label>
      <input class="form-control" type="text" ng-model="coffee.date" bs-datepicker required>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': !coffee.comment}">
    <label>Comment</label>
    <input class="form-control" maxlength="50" type="text" ng-model="coffee.comment">
  </div>
    <div>
        <label>Image</label>
    </div>
  <div class="upload">
    <div class="thumbnail">
      <img class="img-rounded" ng-src="{{coffee.files[0].dataUrl || upload.imageUrl}}" onerror="this.src='http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image'">
    </div>
      <input class="form-control" type="file" name="file"
             ng-model="coffee.imagePath"
             ng-file-select />
             <!--ng-file-change="upload.fileSelected()"--> 
             <!--accept="image/*"-->>
      <input type="hidden" name="Authorization" value=""/>
      <input type="button" class="btn btn-default" id="uploadButton">Upload Photo />
  </div>
      <input type="submit" id="add-drink-button" class="btn btn-default btn-lg">Add Drink />
</form>
  </div>
</div>
</div>
</div>
