  <div class="row">  
      <h2>Coffee Shops Near You</h2>
   <div class="col-md-5">
    <div class="shops-list">
      <ul>
        <li ng-repeat="item in coffee.items" ng-click="coffee.newDrink.shop=item">{{item}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
  <div class="form-options">
    </div>
    </div>
  <div class="col-md-4">
<form class="new-drink" name="myForm" ng-submit="myForm.$valid && coffee.addNewDrink()" validate>
  <div class="form-group" ng-class="{'has-error': !coffee.newDrink.shop}" required>
    <label class="control-label">Shop</label>
    <input class="form-control" id="current-shop" type="text" ng-model="coffee.newDrink.shop">
  </div>
  <div class="form-group" ng-class="{'has-error': !coffee.newDrink.drink}" required>
    <label class="control-label">Drink</label>
    <select ng-model="coffee.newDrink.drink">
      <option value="{{val}}" ng-repeat="(val, text) in coffee.menuOptions">
      {{text}}
      </option>
    </select>    
  </div>
  <div class="form-group" ng-class="{'has-error': !coffee.newDrink.rating}">
    <label class="control-label">Rating</label>
    <select ng-model="coffee.newDrink.rating">
      <option value="{{val}}" ng-repeat="(val, text) in coffee.ratingOptions">
      {{text}}
      </option>
  </div>
  <div class="form-group" ng-class="{'has-error': !coffee.newDrink.date}">
    <label class="control-label">Date</label>
    <input class="form-control" type="text" ng-model="coffee.newDrink.date" bs-datepicker required>
  </div>
  <input type="submit" value="Add Drink" ng-disabled="myForm.$invalid">
</form>
</div>
</div>
