<table class="my-drinks">
  <thead>
    <tr>
      <th>Shop</th>
      <th>Drink</th>
      <th>Rating</th>
      <th>Date</th>
      <th>Comment</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(drinkId, drink) in coffee.drinks">
      <td class="shops">{{drink.shop}}</td>
      <td>{{drink.drink}}</td>
      <td class="rating">{{drink.rating}}</td>
      <td>{{drink.date | date}}</td>
      <td class="comments">{{drink.comment}}</td>
      <td class="pic">{{drink.pic}}</td>
      <td class="buttons">
        <a class="btn btn-primary" href="/#/drinks/{{drinkId}}">Show</a>
        <a class="btn btn-primary" href="/#/drinks/{{drinkId}}/edit">Edit</a>
      <button ng-click="coffee.removeCoffee(drinkId)">Delete</button>
    </td>
    </tr>
  </tbody>
</table>
