<table>
  <thead>
    <tr>
      <th>Shop</th>
      <th>Drink</th>
      <th>Rating</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(drinkId, drink) in coffee.drinks">
      <td>{{drink.shop}}</td>
      <td>{{drink.drink}}</td>
      <td>{{drink.rating}}</td>
      <td>{{drink.date | date}}</td>
      <td>
        <a class="btn btn-primary" href="/#/drinks/{{drinkId}}">Show</a>
        <a class="btn btn-primary" href="/#/drinks/{{drinkId}}/edit">Edit</a>
      <button ng-click="coffee.removeCoffee(drinkId)">Delete</button>
    </td>
    </tr>
  </tbody>
</table>
